<h1 class="mt-5">Agregar Productos</h1>
<hr>

<form [formGroup]="miFormulario">

  <div class="row g-3 align-items-center mb-3">

    <div class="col-auto">
      <label class="col-form-label">Nombre</label>
    </div>
    <div class="col-auto">
      <input class="form-control" formControlName="nombre">
    </div>
    <div class="col-auto">
      <span [valido]="!tieneError('nombre')" [mensaje]="texto1" [color]="color" error-msg></span>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="cambiarNombre()">
        Guardar
      </button>
      &nbsp;
      <button class="btn btn-primary" (click)="cambiarColor()">
        Cambiar Color
      </button>
    </div>
  </div>

</form>

<h5 class="mt-5">Formulario</h5>
<pre>Value: {{ miFormulario.value | json}}</pre>
<pre>Valid: {{ miFormulario.valid }}</pre>

<div class="row mt-5" *customIf="miFormulario.valid">
  <div class="col">
    <div class="alert alert-primary">
      Todo OK!
    </div>
  </div>
</div>
